.header{
    background-color: rgb(19, 25, 33);
    height: 60px;
    color: white;
   /** width: 100%;*/
    height: 100%;
}
body{
    font-family: "Amazon Ember",Arial,sans-serif;
    background-color:#bbbfbf;
}
#head3{
    font-size: 21px!important;
    line-height: 27.3px!important;
}
.container {
   /** width: 99%;**/
    /* background-color: red; */
    height: 100%;
    margin: auto;
}
.container-header {
    display: flex;
    align-items: center;
}
.logo-container {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.logo {
    width: 120px;
    height: 50px;
    background: url('https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png');
    background-repeat: no-repeat;
    background-position-y: -40px;
    overflow: hidden;
}
.dotin {
    position: relative;
    margin-left: -13px;
    margin-top: -10px;
}
/***.border-white {
    padding: 5px;
    border: 1.5px solid transparent;
}
.border-white:hover {
    border: 1.5px solid #ffffff;
}**/
.border-white{
    font-size: 14px;
    margin:0 5px;
}

.address-container {
    margin-left: 10px;
}

.address-container p {
    margin: 0px;
}

.icon-address {
    display: flex;
    align-items: center;
    
}

.hello {
    font-size: 0.8rem;
    padding-left: 20px;
    color: #ccc;
}
.youradd{
    display: inline;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.icon-location {
    margin-right: 3px;
}
.search-container {
    background-color: red;
    margin-left: 50px;
    width: 500px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}

.search-container:hover {
    outline: 3px solid orange;
}

.search-select {
    width: 60px;
    border: none;
    background-color: rgb(230, 227, 227);
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon {
    width: 50px;
    background-color: rgb(235, 160, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
}
.language-container {
    margin-left: 25px;
}

.language-container p {
    font-size: 0.8rem;
    margin: 0;
}

.lauguge-image {
    width: 20px;
}

.lauguge-image img {
    width: 100%;
}
.login-container {
    margin-left: 15px;
}

.login-container p {
    font-size: 13px;
    margin: 0;
}

.account {
    font-weight: 700;
    font-size: 13px;
}

.return-order-container {
    width: 65px;
    font-size: 0.9rem;
    margin-left: 10px;
}

.return-order-container p {
    margin: 0;
    font-size: 13px;
}

.order {
    font-weight: 700;
    font-size: 13px;
    display: flex;
    width: 70px;
}
.cart-container {
    margin-top: 20px;
    font-size: 1.1rem;
    display: flex;
}

.cart-container i {
    font-size: 1rem;
}
.cart-container p {
    font-size: 13px;
}
/***new section**/
.nav {
    height: 40px;
    background-color: #232f3d;
    margin: 0;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   /** padding-left: 15px;**/
}
.container-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: white;
    list-style: none;
}

.container-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 2px;

}

.nav-right-image-amazon-prime {
    min-width: 300px;
    height: 300;
    max-width: 500px;
}

.nav-right-image-amazon-prime img {
    width: 100%;
    height: 100%;
}
.prime-image {
    background-color: white;
    height: 350px;
    width: 350px;
    position: absolute;
    z-index: 1;
    display: none;
    color: #000;
    margin-left: -10px;
    transition: display 1s;
    padding: 10px;
}

.prime-image-hover:hover .prime-image {
    transition: display 1s;
    display: block;
}
.prime-image img {
    width: 100%;
    height: 100%;
}
/***new**/
/* SECTION 1 */
.section-1 {
   /** width: 100%;**/
    height: auto;
    background: url('https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/Aug/Apay/GW-PC-Deals-Unrec-3000._CB629506848_.jpg');
    background-size: cover;
    display: flex;
}
/**.section-1 .section-1-container {
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-1 .section-1-container .section-1-column {
    width: 100%;
    /* height: 300px;
    background-color: white;
    padding: 20px;
}

.section-1 .section-1-container .section-1-column img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.section-1 .section-1-container .section-1-column p {
    margin-top: 10px;
    font-size: 14px;
   
}**/
/***new***/
.section-2 .section-2-container {
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-2 .section-2-container .section-1-column {
    width: 100%;
    /* height: 300px; */
    background-color: white;
    padding: 20px;
}
.section-2 .section-2-container .section-1-column img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.section-2 .section-2-container .section-1-column p {
    margin-top: 10px;
    font-size: 14px;
    
}
/***new***/
.section-3 .section-3-container {
    margin-top: 300px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.section-3 .section-3-container .section-1-column {
    width: 100%;
    /* height: 300px; */
    background-color: white;
    padding: 20px;
}
.section-3 .section-3-container .section-1-column img {
    margin-top: 20px;
    width: 100%;
    height: auto;
}
.section-3 .section-3-container .section-1-column p {
    margin-top: 10px;
    font-size: 14px;
   
}
/***nesyed img***/
/***.main{
    position: relative;
    top:-350px;
    /* background-color: rgb(196, 240, 240); */
    /* filter: blur(8px); */
    
/***}**/
.productBackgraound{
    background-color:#bbbfbfa8;
}
.card-product-container{
    padding: 20px;
    display: flex;
   /**justify-content: space-between;**/
   

}
.card-product{
    background-color: white;
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   max-width: 350px;
    margin:10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.section-1-column{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   max-width: 350px;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   margin-left: 10px;
}
.section-1-column1{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   max-width: 350px;
   padding-top: 10px;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 10px;
   margin-left: 10px;
}
/**.card-product h2{
    margin: 0;
    padding: 10px;
    
}**/

.card-product-nested-card {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;


}
.card-nested p{
    margin: 5px;
}

.card-nested img {
    width: 128px;
    height: 102px;
    object-fit: cover;

}
.card-product-btn{
    font-size: 14px;
    align-self: flex-start;
   /** margin: 7px 10px; 
    padding-left: 0;**/
    background-color: transparent;
    border:none;
    color:rgb(25, 105, 105)
}
.card-product-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}


/***/


.mainimg{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img22/Fashion/Gateway/BAU/Aug/Apay/GW-PC-Deals-Unrec-3000._CB629506848_.jpg");
    
}
#tag {
    font-size: 12px!important;
    line-height: 18px!important;
}
/***slider**/
.imgslider1{
  /**  border-left: 50px;**/
    width: 1150px;
    margin-left: 30px;
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;

}
.imgslider2{
    /**  border-left: 50px;**/
      width: 1150px;
      margin-left: 30px;
      background-color: white;
      padding-left: 20px;
      padding-top: 10px;
      margin-top: 20px;
      padding-bottom: 10px;
  
  }
.slider1{
    display: inline-flex;

}
.section-3-list{
    height: 100%;
    
    display: flex;
    overflow-x: auto;
}
.section-3-item{
    width: 232px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-3-item img{
    max-width: 200px;
    max-height: 200px;
}
.onelinered{
    display: inline-flex;
}
.section-3-item-head{
    background-color: #CC0C39;
  width: 120px;
  border: 2px solid #CC0C39;
  color: white;
    margin-top: 16px;
    font-size: 12px;
    font-weight: 500;
}
.section-3-item-price{
    margin-left: 10px;
    margin-top: 18px;
    font-size: 12px;
    color: #CC0C39;
    font-weight: 800;
}
.section-3-item-brand{
    margin-top: 12px;
    font-weight: 300;
    font-size: 15.5px;
}
/***responsive*/
@media (max-width:1200px){
    .nav{
        width: 100%;
        overflow-x: hidden;
    
    }
    .header{
        width: 100%;
    }
    .youradd{
        display: none;
    }
    .account{
        font-size: 12px;
    }
}
/**@media (max-width:1050px){
    .video-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:820px){
    .video-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:600px){
    .video-container{
        grid-template-columns: 1fr;
    }
    .search-container,
    .ri-grid-fill{
        display: none;
    }
    .video-container{
        grid-gap: 10px;
        padding: 10px;
    }
    .header{
        padding-right: 10px;
    }
}**/


